*{
    margin: 0;
    padding: 0;
}
/*BODY*/
.logo{
    height: 6rem;
    border-radius: 15px;
    display: flex;
    justify-items: left;
    align-items: center;
}
h1{
    font-size: 25px;
    text-decoration: underline black;
}
body{
    background-color: rgb(41, 38, 38);
    font-family: Radio Canada;
    color: black;
}
.what{
    height: 3.5rem;
}
/*GRILLAS ENSAYOS.HTML*/
.imgSize{
    height: 9rem;
}
.container1{
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows:110px auto auto 100px;
    grid-template-columns: auto;
}
.container1>*{
    flex-wrap: wrap;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li a{
    margin-left: 8px;
    color: black;
}
nav li a{
    margin-left: 8px;
    color: black;
    font-size: 1rem;
}

/*GRILLAS INDEX.HTML*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 110px 600px 100px;
    grid-template-columns: auto;
}
.container>*{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.index{
    height: 800px 600px;
    background-image: url(https://image.shutterstock.com/image-photo/engineer-technician-designing-drawings-engineering-260nw-1481221832.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*GRILLAS INSPECCION.HTML*/
.container2{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 110px auto 100px;
    grid-template-columns: auto;
}
.container2>*{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
/*GRILLAS NOSOTROS.HTML*/
.container3{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 110px auto 100px;
    grid-template-columns: auto;
}
.container3>*{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.nosotrosPosicion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgNosotros{
    margin-top: 10px;
}
.nos{
    margin-bottom: 10px;
}
/*GRILLAS CONTACTO.HTML*/
.container4{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 110px auto 100px;
    grid-template-columns: auto;
}
.container4>*{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.contactoAll{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto{
    padding-right: 25px;
    text-decoration: none;
    font-size: 35px;
}
/*MEDIA QUERIES*/
/*Movil*/
/*MEDIA QUERIES INDEX*/
@media screen and (max-width: 480px) {
    h1{
        font-size: 1rem;        
    }
    .container>*{
        width: 90%;
        height: auto;
        margin: 3px 3px;
        display: grid;
        grid-template-rows: 60px auto 60px;
        grid-template-columns: auto;
    }
    footer{
        height: 10vh;
    }
    .index{
        height: auto;
        background-image: url(https://previews.123rf.com/images/ildogesto/ildogesto1109/ildogesto110900043/10688712-resumen-de-fondo-industrial-ilustraci%C3%B3n-vectorial-.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        height: 1.5rem;
    }
    .what{
        display: none;
    }

        /*MEDIA QUERIES CONTACTO*/
        .container4{
            width: 90%;
            margin: 10px auto;
            display: grid;
            grid-gap: 5px;
            grid-template-rows: 60px auto 60px;
            grid-template-columns: auto;
        }
        .contacto{
            padding-right: 25px;
            text-decoration: none;
            font-size: 15px;
        }
        .what{
            display: none;
        }
}